nav.navbar-dark {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #022D41 !important; }
  nav.navbar-dark #drawer-open i {
    color: #DAECF3; }

.profile-card {
  z-index: 12;
  position: fixed;
  top: 84px;
  right: 28px;
  bottom: auto;
  left: auto;
  width: 56px;
  height: 56px;
  overflow: hidden;
  transform: scale(0);
  opacity: 0;
  background-color: #FFFFFF;
  color: #022D41;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .profile-card h1 {
    font-size: 2em;
    margin: 0;
    padding: 6px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .profile-card p {
    font-size: 1em;
    color: #1AA6B7;
    padding: 6px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .profile-card .button-card-profile-close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    bottom: auto;
    left: auto;
    width: 56px;
    height: 56px;
    border-radius: 100%;
    border: 10px solid transparent;
    background-clip: padding-box;
    background-color: transparent;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
    .profile-card .button-card-profile-close i {
      position: absolute;
      top: calc(50% - 12px);
      left: calc(50% - 12px);
      color: #FE424D; }
    .profile-card .button-card-profile-close:active {
      background-color: rgba(0, 0, 0, 0.1); }
  .profile-card #button-settings-open {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    width: 56px;
    height: 56px;
    border-radius: 100%;
    border: 10px solid transparent;
    background-clip: padding-box;
    background-color: transparent;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
    .profile-card #button-settings-open i {
      position: absolute;
      top: calc(50% - 12px);
      left: calc(50% - 12px);
      color: #FE424D; }
    .profile-card #button-settings-open:active {
      background-color: rgba(0, 0, 0, 0.1); }
  .profile-card #button-settings-close, .profile-card #button-settings-save {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    width: 56px;
    height: 56px;
    border-radius: 100%;
    border: 10px solid transparent;
    background-clip: padding-box;
    background-color: transparent;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    display: none; }
    .profile-card #button-settings-close i, .profile-card #button-settings-save i {
      position: absolute;
      top: calc(50% - 12px);
      left: calc(50% - 12px);
      color: #FE424D; }
    .profile-card #button-settings-close:active, .profile-card #button-settings-save:active {
      background-color: rgba(0, 0, 0, 0.1); }
  .profile-card #button-settings-close {
    left: 0; }
  .profile-card #button-settings-save {
    right: 0; }
  .profile-card .form-basic {
    display: none; }

.profile-card.active {
  bottom: auto;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  top: calc(50vh - 30vw);
  right: 20vw;
  width: 60vw;
  height: 60vw;
  transform: scale(1);
  opacity: 1; }

.profile-card.active.settings {
  top: 28px;
  right: 28px;
  width: calc(100vw - 56px);
  height: calc(100vh - 112px);
  display: block; }
  .profile-card.active.settings h1 {
    padding: 23px; }

.profile-image {
  z-index: 13;
  cursor: pointer;
  width: 56px;
  height: 56px;
  border-radius: 100%;
  background-color: transparent;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  position: fixed;
  top: 84px;
  right: 28px;
  bottom: auto;
  left: auto;
  display: flex;
  justify-content: center;
  align-items: center; }
  .profile-image img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 100%;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .profile-image:active {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.profile-image.active {
  top: calc(50vh - 30vw - 42px);
  right: calc(50% - 42px);
  width: 84px;
  height: 84px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

.profile-image.active.settings {
  top: 42px;
  right: calc(100vw - 56px - 42px);
  width: 56px;
  height: 56px;
  box-shadow: none;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

@media only screen and (min-width: 769px) {
  .profile-card {
    top: calc(120px - 30px);
    right: auto;
    bottom: auto;
    left: 14px;
    transform: scale(1);
    opacity: 1;
    width: 20vw;
    height: 20vw;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
    .profile-card .button-card-profile-close {
      display: none; }
    .profile-card #button-settings-open {
      display: none; }
      .profile-card #button-settings-open:hover {
        background-color: rgba(0, 0, 0, 0.05); }
      .profile-card #button-settings-open:active {
        background-color: rgba(0, 0, 0, 0.1); }

  .profile-card.active .button-card-profile-close {
    display: block; }
  .profile-card.active #button-settings-open {
    display: block; }
    .profile-card.active #button-settings-open:hover {
      background-color: rgba(0, 0, 0, 0.05); }
    .profile-card.active #button-settings-open:active {
      background-color: rgba(0, 0, 0, 0.1); }
  .profile-card.active #button-settings-close:hover, .profile-card.active #button-settings-save:hover {
    background-color: rgba(0, 0, 0, 0.05); }
  .profile-card.active #button-settings-close:active, .profile-card.active #button-settings-save:active {
    background-color: rgba(0, 0, 0, 0.1); }

  .profile-image {
    top: 60px;
    right: auto;
    bottom: auto;
    left: calc(10vw + 14px - 30px);
    width: 60px;
    height: 60px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
    .profile-image:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
    .profile-image:active {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

  .profile-image.active {
    top: 60px;
    left: calc(30vw + 14px - 45px);
    width: 90px;
    height: 90px; } }
@media only screen and (min-width: 961px) {
  .profile-card.active {
    top: 10vw;
    left: 10vw;
    width: 30vw;
    height: 30vw; }

  .profile-card.active.settings {
    top: 5vw;
    left: 5vw;
    width: 40vw;
    height: 40vw; }

  .profile-image.active {
    cursor: default;
    top: calc(10vw - 45px);
    left: calc(25vw - 45px); }
    .profile-image.active:hover {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
    .profile-image.active:active {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

  .profile-image.active.settings {
    cursor: pointer;
    top: calc(5vw + 14px);
    left: calc(5vw + 14px); }
    .profile-image.active.settings:hover {
      top: calc(5vw + 10px);
      left: calc(5vw + 10px);
      width: 62px;
      height: 62px;
      border: 2px solid #FE424D;
      box-shadow: none; } }
/* FORMS */
.form-basic {
  width: 480px;
  margin: auto;
  padding: 12px; }
  .form-basic .form-group .input-invalid {
    background-color: rgba(0, 0, 0, 0.05); }
  .form-basic .form-group .input-valid {
    background-color: none; }
  .form-basic .buttonInput {
    background-color: #FE424D;
    color: white;
    padding: 0 12px;
    border: 0;
    cursor: pointer;
    position: absolute;
    bottom: 12px;
    right: 12px;
    font-size: 18px;
    border-radius: 2px;
    height: 50px;
    margin-top: 3px;
    margin-bottom: 0px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    vertical-align: middle; }
    .form-basic .buttonInput:hover {
      transition: all 0.1s;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
      margin-top: 0px;
      margin-bottom: 3px; }
    .form-basic .buttonInput i {
      transform: translateY(25%); }

@media only screen and (max-width: 480px) {
  .form-basic {
    width: 100%;
    position: relative; }
    .form-basic .buttonInput {
      position: fixed;
      bottom: 112px;
      right: 28px;
      width: 56px;
      height: 56px;
      border-radius: 56px;
      -webkit-user-select: none; }
      .form-basic .buttonInput .buttonText {
        display: none; }
      .form-basic .buttonInput i {
        transform: translateY(12.5%); }
      .form-basic .buttonInput:hover {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
        margin-top: 3px;
        margin-bottom: 0px; }
      .form-basic .buttonInput:active {
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
        margin-top: 0px;
        margin-bottom: 3px; } }
input, select, textarea {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box; }

body * {
  box-sizing: border-box; }
body::after, body::before {
  box-sizing: border-box; }

input::after, input::before {
  box-sizing: border-box; }

select::after, select::before {
  box-sizing: border-box; }

textarea::after, textarea::before {
  box-sizing: border-box; }

body *::after, body *::before {
  box-sizing: border-box; }

h1 {
  font-size: 2rem;
  text-align: center;
  margin: 0 0 2em; }

.container {
  position: relative;
  max-width: 40rem;
  margin: 5rem auto;
  background: #fff;
  width: 100%;
  padding: 3rem 5rem 0;
  border-radius: 1px; }
  .container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
    transform: scale(0.98);
    transition: transform 0.28s ease-in-out;
    z-index: -1; }
  .container:hover::before {
    transform: scale(1); }

fieldset {
  margin: 0 0 3rem;
  padding: 0;
  border: none; }

.form-radio, .form-group {
  position: relative;
  margin-top: 2.25rem;
  margin-bottom: 2.25rem; }

.formInline > .form-group, .formInline > .btn {
  display: inline-block;
  margin-bottom: 0; }

.formHelp {
  margin-top: 0.125rem;
  margin-left: 0.125rem;
  color: #b3b3b3;
  font-size: 0.8rem; }

.checkbox .formHelp, .form-radio .formHelp, .form-group .formHelp {
  position: absolute;
  width: 100%; }

.checkbox .formHelp {
  position: relative;
  margin-bottom: 1rem; }

.form-radio .formHelp {
  padding-top: 0.25rem;
  margin-top: -1rem; }

.form-group input {
  height: 1.9rem; }
.form-group textarea {
  resize: none; }
.form-group select {
  width: 100%;
  font-size: 1rem;
  height: 1.6rem;
  padding: 0.125rem 0.125rem 0.0625rem;
  background: none;
  border: none;
  line-height: 1.6;
  box-shadow: none; }
.form-group .control-label {
  position: absolute;
  top: 0.25rem;
  pointer-events: none;
  padding-left: 0.125rem;
  z-index: 1;
  color: #b3b3b3;
  font-size: 1rem;
  font-weight: normal;
  transition: all 0.28s ease; }
.form-group .bar {
  position: relative;
  border-bottom: 0.0625rem solid #999;
  display: block; }
  .form-group .bar::before {
    content: "";
    height: 0.125rem;
    width: 0;
    left: 50%;
    bottom: -0.0625rem;
    position: absolute;
    background: #FE424D;
    transition: left 0.28s ease, width 0.28s ease;
    z-index: 2; }
.form-group input, .form-group textarea {
  display: block;
  background: none;
  padding: 0.125rem 0.125rem 0.0625rem;
  font-size: 1rem;
  border-width: 0;
  border-color: transparent;
  line-height: 1.9;
  width: 100%;
  color: transparent;
  transition: all 0.28s ease;
  box-shadow: none; }
.form-group input[type="file"] {
  line-height: 1; }
  .form-group input[type="file"] ~ .bar {
    display: none; }
.form-group select {
  color: #333; }
.form-group input:focus, .form-group input:valid, .form-group input.form-file, .form-group input.has-value {
  color: #333; }
.form-group textarea:focus, .form-group textarea:valid, .form-group textarea.form-file, .form-group textarea.has-value {
  color: #333; }
.form-group select ~ .control-label {
  font-size: 0.8rem;
  color: gray;
  top: -1rem;
  left: 0; }
.form-group input:focus ~ .control-label, .form-group input:valid ~ .control-label, .form-group input.form-file ~ .control-label, .form-group input.has-value ~ .control-label {
  font-size: 0.8rem;
  color: gray;
  top: -1rem;
  left: 0; }
.form-group textarea:focus ~ .control-label, .form-group textarea:valid ~ .control-label, .form-group textarea.form-file ~ .control-label, .form-group textarea.has-value ~ .control-label {
  font-size: 0.8rem;
  color: gray;
  top: -1rem;
  left: 0; }
.form-group select:focus, .form-group input:focus, .form-group textarea:focus {
  outline: none; }
.form-group select:focus ~ .control-label, .form-group input:focus ~ .control-label, .form-group textarea:focus ~ .control-label {
  color: #FE424D; }
.form-group select:focus ~ .bar::before, .form-group input:focus ~ .bar::before, .form-group textarea:focus ~ .bar::before {
  width: 100%;
  left: 0; }

.checkbox label, .form-radio label {
  position: relative;
  cursor: pointer;
  padding-left: 2rem;
  text-align: left;
  color: #333;
  display: block; }

.checkbox input, .form-radio input {
  width: auto;
  opacity: 0;
  position: absolute;
  left: 0; }

.radio {
  margin-bottom: 1rem; }
  .radio .helper {
    position: absolute;
    top: -0.25rem;
    left: -0.25rem;
    cursor: pointer;
    display: block;
    font-size: 1rem;
    user-select: none;
    color: #999; }
    .radio .helper::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      margin: 0.25rem;
      width: 1rem;
      height: 1rem;
      transition: transform 0.28s ease;
      border-radius: 50%;
      border: 0.125rem solid currentColor; }
    .radio .helper::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      margin: 0.25rem;
      width: 1rem;
      height: 1rem;
      transition: transform 0.28s ease;
      border-radius: 50%;
      border: 0.125rem solid currentColor;
      transform: scale(0);
      background-color: #FE424D;
      border-color: #FE424D; }
  .radio label:hover .helper {
    color: #FE424D; }
  .radio input:checked ~ .helper::after {
    transform: scale(0.5); }
  .radio input:checked ~ .helper::before {
    color: #FE424D; }

.checkbox {
  margin-top: 3rem;
  margin-bottom: 1rem; }
  .checkbox .helper {
    color: #999;
    position: absolute;
    top: 0;
    left: 0;
    width: 1rem;
    height: 1rem;
    z-index: 0;
    border: 0.125rem solid currentColor;
    border-radius: 0.0625rem;
    transition: border-color 0.28s ease; }
    .checkbox .helper::before, .checkbox .helper::after {
      position: absolute;
      height: 0;
      width: 0.2rem;
      background-color: #FE424D;
      display: block;
      transform-origin: left top;
      border-radius: 0.25rem;
      content: "";
      transition: opacity 0.28s ease, height 0s linear 0.28s;
      opacity: 0; }
    .checkbox .helper::before {
      top: 0.65rem;
      left: 0.38rem;
      transform: rotate(-135deg);
      box-shadow: 0 0 0 0.0625rem #fff; }
    .checkbox .helper::after {
      top: 0.3rem;
      left: 0;
      transform: rotate(-45deg); }
  .checkbox label:hover .helper {
    color: #FE424D; }
  .checkbox input:checked ~ .helper {
    color: #FE424D; }
    .checkbox input:checked ~ .helper::after, .checkbox input:checked ~ .helper::before {
      opacity: 1;
      transition: height 0.28s ease; }
    .checkbox input:checked ~ .helper::after {
      height: 0.5rem; }
    .checkbox input:checked ~ .helper::before {
      height: 1.2rem;
      transition-delay: 0.28s; }

.radio + .radio, .checkbox + .checkbox {
  margin-top: 1rem; }

.hasError .legend.legend {
  color: #cc575d; }
.hasError.form-group .control-label.control-label, .hasError.form-group .formHelp, .hasError.form-group .helper {
  color: #cc575d; }
.hasError.checkbox .formHelp, .hasError.checkbox .helper {
  color: #cc575d; }
.hasError.radio .formHelp, .hasError.radio .helper {
  color: #cc575d; }
.hasError.form-radio .formHelp, .hasError.form-radio .helper {
  color: #cc575d; }
.hasError .bar::before {
  background: #cc575d;
  left: 0;
  width: 100%; }

#content-main {
  padding-top: 112px; }

.grid-main {
  overflow-y: auto;
  column-count: 1;
  column-gap: 6px;
  padding: 6px; }
  .grid-main .card {
    display: inline-block;
    width: 100%;
    margin: 0 0 6px 0;
    z-index: 1; }
    .grid-main .card:active {
      z-index: 2; }

@media only screen and (min-width: 481px) {
  .grid-main {
    column-count: 2; } }
@media only screen and (min-width: 769px) {
  #content-main {
    padding-top: 120px; }

  .grid-main {
    margin: 0;
    margin-left: auto !important;
    column-count: 3; }
    .grid-main .card:hover {
      z-index: 2; } }
@media only screen and (min-width: 1201px) {
  .grid-main {
    margin: auto; } }
.card-footer .button-flat {
  color: #FE424D; }

.darken {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 11;
  display: none; }

/*# sourceMappingURL=master.css.map */
